@use '../util/colors.scss' as *;

.interregular24{
    color: $color-primary;
    font-family: inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 1.5rem */
}

.interbold24{
    color: $color-white;
    font-family: Inter;
    font-size: 1.574rem;
    font-weight: 700;
    line-height: 100%; /* 1.574rem */
}

.interbold64{
    color: $color-white;
    font-family: Inter;
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%; /* 4rem */
}

.interbold16{
    color: $color-white;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 1rem */
}

.intersemibold16{
    color: $color-white75;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%; /* 1rem */
}
